<div class="flex navbar navbar-default navie">
  <div class="flex headerContents">
    <div class="logo">
    <a routerLink="/">
      <img src="../assets/btc-logo.png" alt="" class="logo-img">
    </a>
    </div>
    <div class="flex links">
      <a routerLink="/about-brent" routerLinkActive="active" class="link border-right">About Brent</a>
      <a routerLink="/projects" routerLinkActive="active" class="link border-right">Projects</a>
      <a routerLink="/entrepreneur" routerLinkActive="active" class="link border-right">Entrepreneur</a>
      <a routerLink="/contact" routerLinkActive="active" class="link">Contact</a>
    </div>
    <div class="flex textFiller">
      <a class="nextProject">WHAT'S OUR NEXT PROJECT?</a>
    </div>
  </div>
</div>




<!-- <div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href=""><img class="logo-img" src="../assets/btc-logo.png" alt="">
    </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/about-brent">About Brent</a></li>
        <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
        <li routerLinkActive="active"><a routerLink="/about-brent">Entrepreneur</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div> -->
