.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.navDiv {
  border: 2px solid white;
  background-color: black;
}

.headerContents {
  justify-content: flex-start;
  margin-left: 2%;
}

.logo-img {
  height: 100px;
  top:0;
}

.links {
  width: 45%;
}

.link {
  font-size: 1.5em;
  padding: 8px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: white;
}

.border-right {
  border-right: none;
}

.link:hover {
  cursor: pointer;
}

.textFiller {
  width: 50%;
  color: white;
  font-size: 2.5em;
}

.nextProject {
  text-decoration: none;
  color: white;
  text-shadow:3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
}

.nextProject:hover {
  cursor: pointer;
}

.active {
  background-color: #364b71;
  color: white;
  border: 0.2px solid gold;
  box-shadow: -1.5px 1px 1px #BF7F00;
}

.navie {
  background-color: black;
  border: 2px solid black;
  border-radius: 0px;
  background-image: url('../../assets/bg-chards.png');
  background-size: cover;
}






@-webkit-keyframes glowing {
  0% {color: #BF7F00; -webkit-text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; -webkit-text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; -webkit-text-shadow: 0 0 3px #BF7F00; }
}

@-moz-keyframes glowing {
  0% {color: #BF7F00; -moz-text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; -moz-text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; -moz-text-shadow: 0 0 3px #BF7F00; }
}

@-o-keyframes glowing {
  0% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
}

@keyframes glowing {
  0% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
}

.nextProject {
  -webkit-animation: glowing 3500ms infinite;
  -moz-animation: glowing 3500ms infinite;
  -o-animation: glowing 3500ms infinite;
  animation: glowing 3500ms infinite;
}
