<div class="flex navDiv">
  <div class="flex headerContents">
    <div class="logo">
    <a routerLink="/">
      <img src="../assets/btc-logo.png" alt="" class="logo-img">
    </a>
    </div>
    <div class="flex links">
      <a routerLink="/projects" routerLinkActive="active" class="link border-right">Projects</a>
      <a routerLink="/about-me" routerLinkActive="active" class="link border-right">About Brent</a>
      <a routerLink="/entrepreneur" routerLinkActive="active" class="link">Entrepreneur</a>
    </div>
    <div class="flex textFiller">
      <a class="nextProject">WHAT'S OUR NEXT PROJECT?</a>
    </div>
  </div>
</div>
