.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.navDiv {
  border: 2px solid white;
  background-color: black;
}

.headerContents {
  justify-content: flex-start;
  margin-left: 2%;
}

.logo-img {
  height: 100px;
  top:0;
}

.links {
  width: 45%;
}

.link {
  font-size: 1.5em;
  padding: 8px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: white;
}

.border-right {
  border-right: none;
}

.link:hover {
  cursor: pointer;
}

.textFiller {
  width: 50%;
  color: white;
  font-size: 2.5em;
  position: absolute;
  right: 0;
}

.nextProject {
  text-decoration: none;
  color: white;
  text-shadow:3px 3px 8px #BF7F00, -3px -3px 8px #BF7F00;
  text-align: center;
}

.nextProject p {
  margin: auto;
  font-size: .9em;
}

.nextProject:hover {
  cursor: pointer;
}

.active {
  background-color: #364b71;
  color: white;
  border: 0.2px solid gold;
  box-shadow: -1.5px 1px 1px #BF7F00;
}

.navie {
  background-color: black;
  border: 2px solid black;
  border-radius: 0px;
  background-image: url('../../assets/bg-chards.png');
  background-size: cover;
}

.toHide {
  visibility: hidden;
}


@-webkit-keyframes glowing {
  0% {color: #BF7F00; -webkit-text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; -webkit-text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; -webkit-text-shadow: 0 0 3px #BF7F00; }
}

@-moz-keyframes glowing {
  0% {color: #BF7F00; -moz-text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; -moz-text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; -moz-text-shadow: 0 0 3px #BF7F00; }
}

@-o-keyframes glowing {
  0% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
}

@keyframes glowing {
  0% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
  50% {color: #ffffff; text-shadow: 0 0 40px #ffffff; }
  100% {color: #BF7F00; text-shadow: 0 0 3px #BF7F00; }
}

.nextProject {
  -webkit-animation: glowing 3500ms infinite;
  -moz-animation: glowing 3500ms infinite;
  -o-animation: glowing 3500ms infinite;
  animation: glowing 3500ms infinite;
}

.ohh {
  border: 0.5px solid #BF7F00;
  background-color: white;
  padding: 15%;
  height: 40px;
  margin-left: 300%;
  border-radius: 5px;
}

.ohh:hover {
  cursor:  pointer;
}

.ish:hover {
  cursor: pointer;
}


@media (max-width:1125px) {


  .links {
    font-size: .8em;
  }

  .textFiller {
    position: absolute;
    right: 0;
    left: 25%;
    width: 100%;
  }
}

@media (max-width: 980px) {
  .nextProject p {
    font-size: .9em;
  }
  .textFiller {
    left: 27%;
  }
}

@media (max-width: 870px) {

  .toHide {
    visibility: visible;
  }
  .links {
    display: none;
  }
  .textFiller {
    left: 30%;
  }

  .nextProject p {
    font-size: .8em;
  }
}

@media (max-width:780px) {
  
  .textFiller {
    left: 20%;
  }
  .nextProject {
    font-size: .8em;
  }
}

@media (max-width:590px) {

  .textFiller {
    left: 25%;
  }
  .nextProject p {
    font-size: .9em;
  }
}

@media (max-width: 425px) {
  .ohh {
    margin-left: 175%;
  }
  .textFiller {
    left: 30%;
  }
  .nextProject p {
    font-size: .6em;
  }
}
