<div class="bg">
<div class="flex">
  <div class="flex title">
    <div class="title-wrapper">
      <h1 class="h1">Get in touch with Brent!</h1>
      <div class="flex icons">
        <img src="../assets/linkedin-white-bg.png" alt="">
          <img src="../assets/email.png" alt="">
        <img src="../assets/git-black.png" alt="">
      </div>
    </div>

  </div>

<form class="flex box">
  <div class="flex omg">
      <div class="flex row1 a">
        <label class="flex label name" for="">Please Provide Your Contact:</label>
        <input type="text" name="name" value="" placeholder="John Doe">
        <input type="text" name="email" value="" placeholder="John@gmail.com">
      </div>
      <div class="flex row1">
        <label for="" class="flex label contact">What are you contacting Brent for?</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Idea Consultation</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Pitch Idea Partnership</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Hire Brent</label>
      </div>


      <div class="flex all">
        <div class="flex left">
          <label class="flex subject" for="">Tell Me about your Idea here:</label>
          <input id="subject" type="text" name="subject" value="" placeholder="Subject">
          <textarea id="description"name="name" rows="8" cols="80" placeholder="Description..."></textarea>
        </div>
        <div class="flex right">
          <div class="flex top">
            <label class="flex links notes" for="">Any relevant links, background story or notes?</label>
            <textarea id="notes" name="name" placeholder="Notes"></textarea>
          </div>
          <div class="flex bottom">
            <button class="flex btn btn-success send">
              Send
            </button>
          </div>
        </div>
      </div>
  </div>

</form>
<div class="flex contact-explain">
  <div class="flex types">
      <h3>Types of Contact</h3>
  </div>
  <div class="flex list-types">
    <div class="type"><span>Idea Consultation</span> ~ Have an idea? Let's talk about what it would take to make a reality. Maybe I'm the developer for you, maybe I'm not. </div>
    <div class="type"><span>Pitch Idea Partnership</span> ~ Want someone to start working on your idea for nothing more than part of the company? Let's talk about your idea, maybe we could start something big together.</div>
    <div class="type"><span>Hire Brent</span> ~ Simply put, let's work together! Contact me about your idea and I'll get back to you shortly with my thoughts, work &amp; time estimates.</div>
  </div>
</div>

</div>
</div>
