<h1>Get in touch with Brent!</h1>

<form>
  <div class="flex box">
      <div class="flex row1">
        <label for="">Please Provide Your Name:</label>
        <input type="text" name="name" value="" placeholder="John Doe">
      </div>
      <div class="flex row1">
        <label id="label" for="">What are you looking to contact Brent for?</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Idea Consultation</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Pitch Idea Partnership</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Hire Brent</label>
      </div>
      <div class="flex">
        <div class="flex it">
          <label for=""></label>
          <input id="subject" type="text" name="subject" value="" placeholder="Subject">
        </div>
        <div class="flex it">
          <div class="flex left">
            <textarea id="description"name="name" rows="8" cols="80" placeholder="Description..."></textarea>
          </div>
          <div class="flex right">
            <label for="">Any relevant links, background story or notes?</label>
            <textarea id="notes" name="name" placeholder="Notes"></textarea>
            <button class="btn btn-success">
              Send
            </button>
          </div>
        </div>
      </div>
  </div>

</form>
