<div class="bg">
<div class="flex desc">
  <div class="flex desc1">
    <div class="flex style-wrap">
      <div class="desc3">
        <img src="../assets/tv.png" alt="" class="tv">
      </div>
      <p class="bish">Brent as an Entrepreneur</p>
      <p class="text">The real reason I got into code was to express my creativity and turn this passion of mine into a job.</p>
      <p class="text">Along the way I've gotten to experience the many ups and downs of starting my own company, <strong>Threshold Ventures, LLC.</strong></p>
    </div>
  </div>
  <div class="desc2">
    <img src="../assets/tv.png" alt="" class="tv">
  </div>
</div>

  <!-- <a class="flex">
    <a routerLink="/contact" class="flex circle-button">Let's Build Something Together!</a>
  </a> -->

<div class="flex">
  <div class="flex project-wrapper">
    <div class="flex project">
      <div class="left">
        <img src="../assets/sa-logo.png" alt="" class="project-img">
      </div>
      <div class="right">
        <h2>Sleep Away</h2>
        <p>Pillowcases made of bamboo with a simple design to remove and replace each night. Patent Pending.</p>
      </div>
      <a href="//www.sleepaway.co" target="_blank" class="btn btn-primary butt">Visit Website</a>
      <a href="https://www.kickstarter.com/projects/brent-thomas/sleep-away-the-pillow-case-revolution" target="_blank" class="btn btn-success butt">Visit KickStarter Page</a>
    </div>
  </div>
  <div class="flex project-wrapper">
    <div class="flex project">
      <div class="flex left">
        <img src="../assets/mills.png" alt="" class="project-img">
      </div>
      <div class="right">
        <h2>Millennials Game</h2>
      <p>Finally, a game to help you feel accomplished, without the hassle of doing anything!</p>
    </div>
    <a href="http://www.millennialsgame.com/" target="_blank" class="btn btn-primary butt">Visit Website</a>
    <!-- <a href="https://www.kickstarter.com/projects/brent-thomas/millennials-the-gameclass=" target="_blank" class="btn btn-success butt">Visit KickStarter Page</a> -->
  </div>




  </div>
</div>

</div>
