<!-- <app-project-item
  *ngFor="let projectElement of projects; let i = index"
  [project]="projectElement"
  [index]="i">
</app-project-item> -->

<div class="flex bg">



<div class="flex projects-wrapper">
  <div class="flex wrappie">
  <div class="flex project">
    <div class="img">
      <img src="../assets/HeadLinR.png" alt="">
    </div>
    <div class="flex info">
      <p class="h1">
        HeadLinR
      </p>
      <p class="p">
        Curate News Better
      </p>
      <div class="butts">
        <a href="" class="btn btn-default">Git Hub</a>
        <a href="" class="btn btn-primary">Live Site</a>
      </div>
      <div class="langs">
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="flex project">
    <div class="img">
      <img src="../assets/StackD.png" alt="">
    </div>
    <div class="flex info">
      <p class="h1">
        StackD
      </p>
      <p class="p">
        Know Your Stack
      </p>
      <div class="butts">
        <a href="" class="btn btn-default">Git Hub</a>
        <a href="" class="btn btn-primary">Live Site</a>
      </div>
    </div>
  </div>
  <div class="flex project">
    <div class="img">
        <img src="../assets/iHatch.png" alt="">
    </div>
    <div class="flex info">
      <p class="h1">
        iHatch
      </p>
      <p class="p">
        Hatch Your Next Big Idea
      </p>
      <div class="butts">
        <a href="" class="btn btn-default">Git Hub</a>
        <a href="" class="btn btn-primary">Live Site</a>
      </div>
    </div>
  </div>
  <div class="flex project">
    <div class="img">
      <img src="../assets/code-pilot-logo.png" alt="">
    </div>
    <div class="flex info">
      <p class="h1">
        Code Pilot
      </p>
      <p class="p">
        Pairing Programmers from Angular to Zsh
      </p>
      <div class="butts">
        <a href="" class="btn btn-default">Git Hub</a>
        <a href="" class="btn btn-primary">Live Site</a>
      </div>
    </div>
  </div>
  <div class="flex project">
    <div class="img">
      <img src="../assets/tt.png" alt="">
    </div>
    <div class="flex info">
      <p class="h1">
        Treasured Talent
      </p>
      <p class="p">
        Developer Talent as a Subscription Service
      </p>
      <div class="flex butts">
        <a href="" class="btn btn-default">Git Hub</a>
        <a href="" class="btn btn-primary">Live Site</a>
      </div>
    </div>
  </div>
</div>
</div>


</div>
